@charset "UTF-8";
body {
	position: relative;
	width: auto;
    color: white;
    background: linear-gradient(0deg, rgba(50,31,112,1) 0%, rgba(34,193,195,1) 100%) no-repeat;
}
div.senha {
    text-align: center;
}
.campo {
    display: inline;
    margin: -2.5px;
}
.dig1 {
    font-size: 12pt;
    font-weight: 700;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 7px;
}
.dig2 {
    font-size: 12pt;
    font-weight: 700;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 7px;
}
.dig3 {
    font-size: 12pt;
    font-weight: 700;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 7px;
}
.dig4 {
    font-size: 12pt;
    font-weight: 700;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 7px;
}
.digito {
    font-size: 12pt;
    font-weight: 700;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 7px;
}
.digitocerto {
    color: #53FD30;
}
.digitoposicao {
    color: #FDDE30;
}
.digitoerrado {
    color: #FD3030;
}
.validar {
    display: block;
    margin: 30px auto;
    width: 140px;
    height: 35px;
    border-radius: 7px;
}
div.tentativa {
    text-align: center;
    width: 35%;
    padding: 10px 10px 20px 10px;
    margin: 0px auto;
    border: 1px solid black;
}